<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riwayat Bimbingan</title>

    <!-- Load CSS dari static folder -->
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>

<body>
    <div class="dashboard-container">

        <!-- SIDEBAR -->
        <div class="sidebar">
            <h2 class="sidebar-title">Bimbingan TA</h2>

            <nav class="sidebar-nav">
                <ul>
                    <li>
                       <a th:href="@{/dashboard}">
                        Menu utama <br>
                        <span class="menu-description">Halaman Depan.</span>
                    </a>
                </li>
                <li class="active">
                    <a th:href="@{/riwayat}">
                        Riwayat Bimbingan <br>
                        <span class="menu-description">Log Bimbingan.</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/pengajuan}">
                        Pengajuan Bimbingan <br>
                        <span class="menu-description">Form Bimbingan.</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/kelola}">
                        Kelola Pengajuan <br>
                        <span class="menu-description">Cek Status Ajuan.</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/progress}">
                        Progress TA <br>
                        <span class="menu-description">Milestone TA.</span>
                    </a>
                </li>
                <li class="active">
                    <a th:href="@{/jadwal}">
                        Jadwal <br>
                        <span class="menu-description">Jadwal Kuliah.</span>
                    </a>
                </li>
            </ul>
            </nav>
        </div>

        <!-- MAIN CONTENT -->
        <div class="main-content">

            <header class="header">
                <h1>Riwayat Bimbingan</h1>

                <div class="header-icons">
    <span class="icon-circle">M</span>
    <span class="icon-circle">
        <a th:href="@{/inbox}">
            <img th:src="@{'https://png.pngtree.com/png-vector/20190118/ourmid/pngtree-vector-inbox-icon-png-image_323840.jpg'}"
                 alt="Tampilan Inbox Email">
        </a>
    </span>
</div>

            </header>

            <!-- CARD LIST (STATIC EXAMPLE) -->
             
            <!-- sebaiknya dibuat model class -->
         
            <div class="history-card">
                <p class="history-date">1 Januari 2025, Gede Karya</p>
                <p class="history-desc">...</p>
            </div>

            <div class="history-card">
                <p class="history-date">3 Januari 2025, Keenan Adiwijaya Leman</p>
                <p class="history-desc">...</p>
            </div>

            <div class="history-card">
                <p class="history-date">5 Januari 2025, Pascal Alfadian Nugroho</p>
                <p class="history-desc">...</p>
            </div>

        </div>
    </div>
</body>
</html>
