<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelola Pengajuan Dosen</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="dashboard-container">

    <!-- Sidebar -->
    <aside class="sidebar">
        <h2 class="sidebar-title">Bimbingan TA</h2>

        <nav class="sidebar-nav">
            <ul>
                <li><a th:href="@{/}">Menu utama</a></li>
                <li><a th:href="@{/pengajuan}">Pengajuan Bimbingan</a></li>
                <li><a th:href="@{/mahasiswa}">Kelola Mahasiswa</a></li>
                <li class="active"><a th:href="@{/dosen}">Kelola Dosen</a></li>
            </ul>
        </nav>
    </aside>

    <!-- Main Content -->
    <main class="main-content">

        <header class="header">
            <h1>Dashboard</h1>
            <div class="header-icons">
    <span class="icon-circle">M</span>
    <span class="icon-circle">
        <a th:href="@{/inbox}">
            <img th:src="@{'https://png.pngtree.com/png-vector/20190118/ourmid/pngtree-vector-inbox-icon-png-image_323840.jpg'}"
                 alt="Tampilan Inbox Email">
        </a>
    </span>
</div>

        </header>

        <!-- Body -->
        <section>
            <h2 class="section-title">Kelola Pengajuan Dosen A</h2>

            <div class="table-container">

                <h4 class="table-header">TA Overview</h4>

                <table class="styled-table">
                    <thead>
                    <tr>
                        <th>Waktu</th>
                        <th>Hari & Tanggal</th>
                        <th>Mahasiswa</th>
                        <th>Lokasi</th>
                        <th>Jenis</th>
                        <th>Aksi</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="p : ${listPengajuan}">
                        <td th:text="${p.waktu}"></td>
                        <td th:text="${p.hariTanggal}"></td>
                        <td th:text="${p.mahasiswa}"></td>
                        <td th:text="${p.lokasi}"></td>
                        <td th:text="${p.jenis}"></td>

                        <td>
                            <button class="delete-btn"
                                    th:onclick="'location.href=\'/hapus/' + ${p.id} + '\''">
                                ✖
                            </button>

                            <button class="confirm-btn"
                                    th:onclick="'location.href=\'/konfirmasi/' + ${p.id} + '\''">
                                ✔
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </section>
    </main>
</div>

</body>
</html>
